@inherits LayoutComponentBase

<PageTitle>AssetManager.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay/>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <div class="footer px-5 mb-5" >
            <i>Software Development Capstone ©2022 Owen Dolberg.<br/>Western Governors University logos and branding ©2022 Western Governors University. <br/> This is a student project and not an official site of WGU.</i>
        </div>
        
    </main>
</div>