/* _content/AssetManager.Server/Shared/MainLayout.razor.rz.scp.css */
.page[b-jk2y60iq07] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jk2y60iq07] {
    flex: 1;
}

.sidebar[b-jk2y60iq07] {
    background-image: linear-gradient(180deg, rgb(0,48,87) 10%,rgb(50, 125, 169) 100%);
}

.top-row[b-jk2y60iq07] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 4.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jk2y60iq07]  a, .top-row .btn-link[b-jk2y60iq07] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-jk2y60iq07] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.footer[b-jk2y60iq07] {
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    width: -webkit-fill-available;
}
    
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jk2y60iq07] {
        display: none;
    }

    .top-row.auth[b-jk2y60iq07] {
        justify-content: space-between;
    }

    .top-row a[b-jk2y60iq07], .top-row .btn-link[b-jk2y60iq07] {
        margin-left: 0;
    }
    
    .footer[b-jk2y60iq07] {
        justify-content: space-between;
    }
}

@media (min-width: 641px) {
    .page[b-jk2y60iq07] {
        flex-direction: row;
    }

    .sidebar[b-jk2y60iq07] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jk2y60iq07] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-jk2y60iq07], article[b-jk2y60iq07] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .footer[b-jk2y60iq07] {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}
/* _content/AssetManager.Server/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-bk6o0cnia9] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-bk6o0cnia9] {
    height: 4.5rem;
    background-color: rgb(0,48,87);
    
}

.navbar-brand[b-bk6o0cnia9] {
    font-size: 1.1rem;
}

.oi[b-bk6o0cnia9] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-bk6o0cnia9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-bk6o0cnia9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-bk6o0cnia9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-bk6o0cnia9]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-bk6o0cnia9]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-bk6o0cnia9]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-bk6o0cnia9] {
        display: none;
    }

    .collapse[b-bk6o0cnia9] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
