@page "/"

<PageTitle>Welcome</PageTitle>
<div class="centerloginpage" align="center">
    <br/>
    <br/>
    <br/>
    <h2>C868 Software Development Capstone</h2>
    <br/>
    <br/>
    <img src="images/WGU Texas Academi.png" alt="Western Governors University Academic Logo" height="512"/>
    <br/>
    <br/>
    <br/>
    <h3>Owen Dolberg</h3>
    <br/>
    <h3>@DateTime.Now.ToString("d")</h3>
    <br/>
    <AuthorizeView><NotAuthorized>Please login <a href="Identity/Account/Login">here </a>to test the system.</NotAuthorized></AuthorizeView>
</div>